.home {
  background: url("../../images/47Ronin.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 100vh;
  width: 100%;
}

.image {
  height: 300px;
  width: 450px;
  background-color: green;
}

.logo-img {
  background: url("../../images/four7logo.png") center no-repeat;
  background-size: contain;
  width: 450px;
  height: 250px;
}

.social-footer {
  display: flex;
  justify-content: center;
  width: 100%
  height: auto;
  padding: 15px 0 5px 0;
  background-color: black;
  border-top: solid thin darkgray;
}

.social-text {
  color: white;
  font-size: 20px;
  line-height: 50px;
  margin-right: -25px;
}

.about {
  display: inline-flex;
  color: white;
  background-color: black;
  height: 500px;
  width: 100%;
  margin-bottom: 2px;
}

.aboutImg {
  background: url("../../images/fitness_first.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 3px white;
  border-radius: 5px;
  height: 400px;
  width: 50%;
  margin-top: 70px;
}

.aboutList {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 50%;
  padding: 25px;

}

.about-box {
  display: flex;
  flex-direction: column;;
  justify-content: center;
  align-items: center;
  list-style: none;
  width: 100%;
}

.list-item{
  width: 100%
}



.program {
  background-color: #3B5866;
  display: flex;
  justify-content: space-between;
  color: white;
  height: 450px;
  width: 100%;
  margin-bottom: 2px;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 20px;
  font-size: 20px;
}
.programImg {
  background: url("../../images/kidsBoxing.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  height: 300px;
  width: 500px;
  margin-right: 20px;
  border: solid 3px white;
  border-radius: 5px;
}

.programList {
  display: flex;
  justify-content: center;
  flex-direction: column;
  font-size: 18px;

}

.kid {
  background: url("../../images/mmaKid.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border: solid 3px white;
  border-radius: 5px;
  height: 400px;
  width: 300px;
}

.events {
  display: flex;
  justify-content: space-around;
  color: white;
  background-color: #3B5866;
  height: 450px;
  width: 100%;
  margin-bottom: 2px;
  padding-top: 20px;
  padding-right: 10px;
  padding-left: 10px;
}

.imgQuote {
  background: url("../../images/siler.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  border: solid 3px white;
  border-radius: 5px;
  height: 400px;
  width: 400px;
}

.eventVid {
  padding-left: 20px;

}
