<div class="home">
  <div class="logo-img">
  </div>
</div>

<div class="about">
  <div class="aboutImg">
  </div>
  <div class="aboutList">
    <div class="list-item">IT'S ALL ABOUT</div><br/>
    <div class="list-item">CREATING EXCELLENCE</div><br/>
    <div class="list-item">Four7 Training Center Coaching is the Premier training in Utah and the intermountain west.</div><br/>
    <div class="list-item">Voted one of the UFC's Top 100 Coaches in the World. Utah Valley's Top 40 leaders. ESPN Featured Athletes and Coaches.
    NBC Sports Documentaries and behind the scenes with Fox Sport's 1.</div><br/>
    <div class="list-item">We Have top coaches in MMA, Wrestling, Jiu Jitsu, Boxing, Strength Conditioning, Pilates and Yoga.</div><br/>
    <div class="list-item">Try a class and see the difference. Invest yourself and don't settle for second Best!</div>
  </div>
</div>


<div class="program">
  <div class="programImg">
    <img>
  </div>
  <div>
    <strong>What your child will gain:</strong>
    <div class="programList">
      <div class="list-item">Confidence</div>
      <div class="list-item">Discipline</div>
      <div class="list-item">Strength</div>
      <div class="list-item">Self Defense</div>
      <div class="list-item">Balance/Coordination</div>
      <div class="list-item">A Fun Group Environment</div>
      <div class="list-item">Speed and Agility</div>
      <div class="list-item">Focus and Determination</div>
      <div class="list-item">Technique</div>
      <div class="list-item">World Class Coaches</div>
      <div class="list-item">There is no sparring, there will only be a technical focus</div>
    </div>
  </div>
</div>

<div class="events">
  <div class="eventVid">
  <iframe width="640" height="360" src="https://www.youtube.com/embed/UJXh8HGec5A" frameborder="10" allowfullscreen></iframe>
</div>
<div>
  Four7 Tribe
</div>
</div>
