<div class="topclass">
  <div class="logo-classes"></div>
</div>

<div class="mainClasses">
  <div class="classes">
    <ul class="classList">
      <strong><li>Classes Available as of 1/4/2017</li></strong>
      <br>
      <li>Gym closed daily from Noon-4PM</li>
      <li>When a class is going on, Join a class!</li>
      <li>Our trainers are experienced, knowledgeable and patient.</li>
      <li>We are a class-based gym, here to focus on your fitness needs.</li>
      <li>You are, however, still welcome to use the fitness area and equipment during classes.</li>
      <br>
      <strong><li>Monday thru Friday:</li></strong>
      <li>5AM: Early Bird Fit</li>
      <br>
      <strong><li>Monday thru Thursday:</li></strong>
      <li>Kids Classes: 4:00PM -4:45PM</li>
      <br>
      <strong><li>Monday and Wednesday:</li></strong>
      <li>6:00AM: Wrestling/Jiu Jitsu (on the mat)</li>
      <li>5:30PM: Kickboxing (on the mat)</li>
      <li>6:30PM- 8PM: Combat Jiu Jitsu- (on the Mat)</li>
      <li>6:45PM-7:45PM Yoga (Fitness Area)</li>
    </ul>
  </div>


  <div class="classes">
    <ul class="classList">
      <strong><li>Tuesday and Thursday</li></strong>
      <li>9AM: Boxing 101</li>
      <li>4PM: Free Kids Classes</li>
      <li>5:30PM- 6:30PM: Boxing (On the Mat)</li>
      <li>5:30PM-6:30PM: Pilates (Fitness Area)</li>
      <li>6:30PM-8PM: Combat Jiu Jitsu (on the Mat)</li>
      <li>8PM-9PM: Yoga (on the Mat)</li>
      <li>8PM-9PM: Open Gym</li>
      <br>
      <strong><li>Saturday:</li></strong>
      <li>9AM: Boxing 101</li>
      <li>10:30AM: Pilates </li>
      <br>

      <strong><li>Open Gym:</li></strong>
      <li>Monday, Wednesday, Friday: 9AM</li>
      <li>Monday thru Friday: 10AM</li>
      <li>Monday thru Thursday: 5PM</li>
    </ul>
  </div>
</div>

<div class="calendarSection">
  <div class="calendar">
    <iframe src="https://calendar.google.com/calendar/embed?src=four7trainingcenter%40gmail.com&ctz=America/Denver" style="border: 0" width="1100" height="800" frameborder="0" scrolling="no"></iframe>
  </div>
</div>
