<div >
  <img class="tLogo">
</div>


<div>
<div class="profile-1">
<strong><div>Jason Mertlich - Head Coach</div></strong>
<br>
  <div class="jlist">
    <!-- <div class="bio">Head Coach</div> -->
    <div>Coach Jason Mertlich is quickly becoming one of the premier instructors of elite fighters in the world. Over the years, he has taken the best, most combat specific aspects of Jiu-Jitsu, Wrestling, Boxing, Muay Thai and numerous other martial arts to create FOUR7 Jiu-Jitsu. In just a few short years of coaching his resume is packed full of UFC standouts! FOUR7 Jiu-Jitsu has its roots in the virtues of the Bushido: Rectitude, Benevolence, Respect, Courage, Honesty, Honor, and Loyalty</div>
    <div><img class="coachjm"></div>
  </div>
  <div class="trainersList">
    <div>
      <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/jason.mertlich.1?fref=ts"><img alt="" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
    </div>
    <div>
        <a target="_blank" title="follow me on Twitter" href="https://twitter.com/lastbreathproj?lang=en"><img alt="" src="https://c866088.ssl.cf3.rackcdn.com/assets/twitter30x30.png" border=0></a>
    </div>
    <div>
      <a target="_blank" title="follow me on instagram" href="https://www.instagram.com/four7training/"><img alt="" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>
    </div>
  </div>
</div>

</div>


<div class="profile-1">
<strong><div>Julia Waterman - Certified Yoga Instructor</div></strong>
<br>
<div class="jwlist">
  <!-- <div></div> -->
  <br>
  <div class="bio">Julia is a registered Yoga instructor through The Yoga Alliance. She received this certification through The Yoga Underground.
    She has a talent and love for teaching. She loves to connect with people and help others align the body, mind and spirit.
    Julia uses many resources to benefit her classes, such as implementing doTERRA essential oils to deepen the practice, partner exercises, as well as props including bolsters and straps.</div>
    <div><img class="jwyoga"></div>
  </div>
  <div class="trainersList">
    <div>
    <a target="_blank" title="follow me on facebook" href="https://www.facebook.com/julia.yogatribe/"><img alt="" src="https://c866088.ssl.cf3.rackcdn.com/assets/facebook30x30.png" border=0></a>
    </div>
    <div>
    <a target="_blank" title="follow me on instagram" href="https://www.instagram.com/julia.yogatribe/"><img alt="" src="https://c866088.ssl.cf3.rackcdn.com/assets/instagram30x30.png" border=0></a>
    </div>
  </div>
</div>
