.pricing {
  height: 600px;
  width: 100%;
  background-color: #3B5866;
  color: white;
  display: flex;
  flex-direction: row;
}

.classesLogo {
  background: url("../../images/four7team.jpg") center no-repeat;
  height: 100%;
  width: 100%;
  margin-top: 20px;
}

.classImg {
  background: url("../../images/four7pyramid.jpg") center no-repeat;
  height: 100%;
  width: 100%;
  margin-top: 20px;

}

.info {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 50%;
  margin-left: 275px;
}
