<div class="pricing">
  <div class="classesLogo"></div>
  <div class="classImg"></div>
</div>

<div class="info">
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Type</th>
      <th>Rate</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>Day Pass</td>
      <td>$12</td>
    </tr>
    <tr>
      <td>1 Year Contract</td>
      <td>$95/Month, 1-time $99 sign-up fee</td>
    </tr>
    <tr>
      <td>2 Year Contract</td>
      <td>$80/Month, 1-time $99 sign-up fee</td>
    </tr>
    <tr>
      <td>Month to Month</td>
      <td>$150/Month</td>
    </tr>
    <tr>
      <td>Family of 4 Contract</td>
      <td>$150/Month, $20 additional per person, 1-time $99 sign-up fee</td>
    </tr>
    <tr>
      <td>Yoga/Pilates Studio</td>
      <td>$75/Month</td>
    </tr>
    <tr>
      <td>Personal Trainer</td>
      <td>Rates vary per trainer</td>
    </tr>
    <tr>
      <td>Kids Classes</td>
      <td>FREE, Donations Welcome, all proceeds go to building up the program</td>
    </tr>
  </tbody>
</table>
  <b><p>Contracts include access to all classes and full facility, Boxing, Kick boxing, Jiu Jitsu, Yoga, Pilates, Four7 Fit, and Wrestling.</p></b>
</div>
