<div class="vid">
  <p>Four7 Training Center coaching is the premier training in Utah and the intermountain West. Voted one of the UFC’s Top 100 Coaches in the World. Utah Valley’s Top 40 Leaders. ESPN Featured Athletes and Coaches. NBC Sports Documentaries and behind the Scenes with Fox Sport’s 1. We have top coaches in mma, wrestling, jiu jitsu, boxing, strength and conditioning, pilates and yoga. Try a class and see the difference. Invest in yourself and don’t settle for second Best!</p>
</div>
<div class="videos">
<div>
  <iframe width="458" height="315" src="https://www.youtube.com/embed/s8LNk4JCBq0" frameborder="0" allowfullscreen></iframe>
  <iframe width="458" height="315" src="https://www.youtube.com/embed/bR8redd53Jo" frameborder="0" allowfullscreen></iframe>
  <iframe width="458" height="315" src="https://www.youtube.com/embed/MgPciNMEoig" frameborder="0" allowfullscreen></iframe>
  <iframe width="458" height="315" src="https://www.youtube.com/embed/848uDreppDM" frameborder="0" allowfullscreen></iframe>
</div>
<div>
  <iframe width="458" height="315" src="https://www.youtube.com/embed/CPXj5rvnMbc" frameborder="0" allowfullscreen></iframe>
  <iframe width="458" height="315" src="https://www.youtube.com/embed/WO4nB9IOr_c" frameborder="0" allowfullscreen></iframe>
  <iframe width="458" height="315" src="https://www.youtube.com/embed/H9DscENnKKQ" frameborder="0" allowfullscreen></iframe>
  <iframe width="458" height="315" src="https://www.youtube.com/embed/LMQidBTwhPM" frameborder="0" allowfullscreen></iframe>
</div>
</div>
